{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {{ taska.section }}<br>
    {{ section3.value | upper }}<br>
    {% set currentDate = date() %}
    {{ currentDate | appdate }}
    {{ dump(app.request.attributes.all()) }}
    <hr>
    {{ 'Hello world' | trans }}<br>
    {% set cadena = '{0}No rows available|{1}There is one row|]1,Inf[%count% rows are available' %}
    {{ cadena | trans }}<br>
    {% trans with {'%count%': 0} %}{0}No rows available|{1}There is one row|]1,Inf[%count% rows are available{% endtrans %}<br>
    {% trans with {'%count%': 1} %}{0}No rows available|{1}There is one row|]1,Inf[%count% rows are available{% endtrans %}<br>
    {% trans with {'%count%': 5} %}{0}No rows available|{1}There is one row|]1,Inf[%count% rows are available{% endtrans %}<br>
    <hr>

    {% embed 'widgets/card.html.twig' %}    
        {% block image %}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        {% endblock %}

        {% block title %}Título{% endblock %}

        {% block content %}sadf asd fasdf asdf asdf asdf {% endblock %}
    {% endembed %}
{% endblock %}
