{% extends 'admin1/base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block content %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uuid</th>
                <th>Alias</th>
                <th>CreationDate</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.uuid }}</td>
                <td>{{ task.alias }}</td>
                <td>{{ task.creationDate ? task.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.type }}</td>
                <td>
                    <a href="{{ path('app_admin2_task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_admin2_task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin2_task_new') }}">Create new</a>
{% endblock %}
