{% extends "base.html.twig" %}

{% set title = '[' ~ task.alias ~ '] ' ~ task.title %}

{% block title %}
<div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ task.status }}
  </button>
  <ul class="dropdown-menu">
  {% for transition in transitions %}
    <li><a class="dropdown-item" href="{{ path('app_admin1_task_changestatus', {uuid:task.uuid, transition:transition.name}) }}">{{ transition.tos.0 }}</a></li>
  {% endfor %}
  </ul>
</div>
{{ title }}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-12">{{ 'Description' | trans }}</dt>
                <dd class="col-12">{{ task.description | raw }}</dd>
            </dl>
        </div>
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-3">Epic</dt>
                <dd class="col-sm-9">{{ task.epic }}</dd>
                <dt class="col-sm-3">Release</dt>
                <dd class="col-sm-9">{{ task.release }}</dd>
                <hr>
                <dt class="col-sm-3">{{ 'Creation user' | trans }}</dt>
                <dd class="col-sm-9">{{ task.creationUser }}</dd>
                <dt class="col-sm-3">Creation date</dt>
                <dd class="col-sm-9">{{ task.creationDate | date('d/m/Y') }}</dd>

                <dt class="col-sm-3">Current user</dt>
                <dd class="col-sm-9">{{ task.currentUser }}</dd>
            </dl>
        </div>
    </div>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Comments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Worklog</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    {{ render(controller('App\\Infrastructure\\Symfony\\Frontend\\Controller\\Admin1\\TaskController::comments', {task:task})) }}
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    {{ render(path('app_admin1_task_worklog', {uuid:task.uuid})) }}  
  </div>
</div>

{% endblock %}