{% extends 'base.html.twig' %}

{% block title %}Task edit{% endblock %}

{% block body %}
    <form method="post" novalidate>
    <div class="row">
        <div class="col-4">
            {{ form_row(form.alias)}}
        </div>
        <div class="col-4">
            {{ form_row(form.creationDate)}}
        </div>
    </div>
    <hr>
    {{ form_rest(form) }}
    <button class="btn btn-success" type="submit">Enviar</button>
        {{ dump(errors) }}
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
            tinymce.init({
            selector: 'textarea.richeditor', });
    </script>
{% endblock %}