{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ task.uuid }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ task.alias }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ task.creationDate ? task.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ task.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin2_task_index') }}">back to list</a>

    <a href="{{ path('app_admin2_task_edit', {'id': task.id}) }}">edit</a>

    {{ include('admin2/task/_delete_form.html.twig') }}
{% endblock %}
